name: flutter_shopping_app
description: Aesthetic shopping app
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  intl: ^0.20.2
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  intl_utils: ^2.8.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    # ضع هنا أي صور محلية أخرى
